{% extends 'layout.twig' %}

{% block body %}

    <h1>Julien Helfer, développeur PHP / Symfony</h1>

    <section>
        <p>Vous vous trouvez sur la future page d'accueil.</p>
    </section>

{% endblock %}