<li class="nav-item">
    <a class="nav-link {{ is_subpath('blog.admin.index') ? 'active' }}" href="{{ path('blog.admin.index') }}">Les articles</a>
</li>
<li class="nav-item">
    <a class="nav-link {{ is_subpath('blog.category.admin.index') ? 'active' }}" href="{{ path('blog.category.admin.index') }}">Les catégories</a>
</li>