{% extends 'layout.twig' %}

{% block title "Mes articles" %}

{% block body %}
    <h2>tests views</h2>

    <ul>
        <li><a href="{{ router.generateUri('blog.show', {slug: 'test-slug-781'}) }}">test article 1</a></li>
        <li>test article 2</li>
        <li>test article 3</li>
    </ul>
{% endblock %}